//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

.opportunity-timeline {
  border-bottom: 3px solid rgb(0, 112, 210);
  height: 1.5rem;
  padding-top: 3px;
}

.opportunity-timeline-active {
  background-color: rgb(0, 112, 210);
  border-bottom: 3px solid rgb(216,237,255);
  border-bottom-style: dashed;
  color: white;
}

.opportunity-timeline-active div {
  color: white;
}

.sub-timeline {
  box-shadow: 1px 2px 3px rgb(174, 174, 174);
  background-color: rgb(216,237,255);
  height: 1.5rem;
  color: black;
}

.sub-timeline-active {
  background-color: rgb(0, 112, 210);
  color: white;
}

.non-sub-timeline:before {
  content:"";
  border-left: 3px solid rgb(178, 217, 252);
  border-top: 3px solid rgb(178, 217, 252);
  border-bottom: 3px solid rgb(178, 217, 252);
  margin-right: 0px;
  padding: 0 3px;
}

.non-sub-timeline-active:before {
  content:"";
  border-left: 3px solid rgb(21, 137, 238);
  border-top: 3px solid rgb(21, 137, 238);
  border-bottom: 3px solid rgb(21, 137, 238);
  margin-right: 0px;
  padding: 0 3px;
}

.recommendation-link:link, .recommendation-link:visited, .recommendation-link:hover, .recommendation-link:active {
  text-decoration: none;
}

.recommendation-text {
  font-weight: bold;
}

.recommended-button {
  background-color: white;
  border-radius: .5rem; 
  border: 1px solid rgb(4, 132, 75);
  color: rgb(2, 126, 70);
}

.edit-input {
  width: 5rem;
}

.edit-cell:hover {
  background-color: white !important;
}

.recommended-button:hover {
  background-color: rgb(4, 132, 75);
  color: white;
}

.recommended-button-active {
  background-color: rgb(4, 132, 75);
  color: white;
}

.downgrade-button {
  background-color: white;
  border-radius: .5rem; 
  border: 1px solid rgb(255, 154, 60);
  color: rgb(255, 154, 60);
}

.downgrade-button:hover {
  background-color: rgb(255, 154, 60);
  color: white;
}

.blocked-downgrade {
  color: rgb(255, 154, 60);
}

.edit-card {
  z-index: 4;
}

.edit-hide {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 3;
}

.tray-hidden {
  //box-shadow: inset 0px 4px 3px rgba(50, 50, 50, 0.4);
  display: none;
  max-height: 500px;
  width: 100%;
}

.tray-show {
  display: table-row;
}

.tray-show>td {
  box-shadow: inset 0px 4px 6px rgba(50, 50, 50, 0.25) !important;
  background-color: white !important;
}

.tray-content {
  height: 0;
  overflow: hidden;
  transition: height .25s;
}

.tray-content-show {
  height: 400px;
}

.current-buttons {
  position:sticky;
  bottom: 0;
  background-color: white;
}